# Spark Basics

## Topics
1. How to read json file
2. Defining schema
3.Spark sql

In [1]:
## Run below command for pyspark
import findspark
findspark.init("/home/firdaus/spark-3.0.0-bin-hadoop2.7")
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [4]:
df = spark.read.json("people.json")

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [7]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

## Set up data schema

In [8]:
from pyspark.sql.types import (StructField,StructType,IntegerType,StringType)

In [9]:
data_schema = [StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

In [10]:
finalStruct = StructType(fields=data_schema)

In [11]:
#add the above schema in the json file
df = spark.read.json('people.json',schema=finalStruct)

In [12]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [13]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [14]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [15]:
df.select('age')

DataFrame[age: int]

In [16]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [17]:
df['age']

Column<b'age'>

In [18]:
#select first two row
#it returns rows in the form of list
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [19]:
type(df.head())

pyspark.sql.types.Row

In [20]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [21]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [22]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [31]:
#create a new column double_age by copying age
#Returns a new :class:`DataFrame` by adding a column or replacing the
#existing column that has the same name.
new_df= df.withColumn('double_age',df['age']*2)

In [32]:
new_df.show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [33]:
#change the name of column
new_df2 = df.withColumnRenamed('age','my_new_age')

In [34]:
new_df2.show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

## Use spark as sql

In [35]:
# create or replace the Dataframe with local Temporary view named as people
#we can use this view like sql
df.createOrReplaceTempView("people")

In [36]:
results = spark.sql("SELECT * FROM PEOPLE")

In [37]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [38]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [39]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+